
div.my-footer {
    background-color: #1a1917;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;
}

.remark-slide-number {
  bottom: 16px;
  opacity: 0;
  position: absolute;
  right: 15px;
  bottom: 25px;
}

/* Extra CSS */
.red {
  color: red;
}
.small {
  font-size: 70%;
}
.large {
  font-size: 120%;
}
.xlarge {
  font-size: 250%;
  vertical-align: middle;
}
.full-width {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}
